<div class="p-5">
  <h3>Как подготовиться к интервью в американском посольстве?</h3>
  <h4>Несколько советов:</h4>
  <h4>1. Длительность</h4>
  <p>
    Собеседование может идти как очень быстро (меньше минуты), так и дольше (до 5 минут максимум, но это крайне редко).
    Обычно среднее собеседование длится минуты полторы-две-три. За это время Вам необходимо убедить консула в том, что
    Вы порядочный гражданин и не собираетесь нарушать
    никаких законов США, а уж тем более там оставаться после завершения программы.
  </p>
  <h4>2. Вопросы</h4>
  <p>
    Вопросы, которые задает консул во время собеседования,
    совершенно различны. Но все же их можно несколько классифицировать:
  </p>
  <br>
    а) Вопросы по вашей программе (W&amp;T или Camp America).
  <br>
    б) Вопросы о вас лично:
  <br>
    — Сколько Вам лет, откуда Вы, где учитесь, какой курс, что изучаете, как успеваемость, почему в зачетке за такой-то семестр стоит
  тройка/четверка, каким Вы видите ваше будущее в России, кто Ваши родители и т. д.
  <p>
    в) Вопросы про США:
    <br>
    — Что Вы знаете о США, зачем Вам туда ехать, какие места планируете посетить,
    есть ли у Вас там друзья/родственники, планируете ли Вы их навестить, с какой целью и др.
  </p>
  <p>
    Заранее прорепетируйте дома перед зеркалом возможные вопросы и ответы на них. Это поможет держаться уверенно на самом интервью.
  </p>
</div>
