<div class="mt-3">
  <p class="text-center border w-75 p-3">
    Work and Travel USA – это, безусловно, самая популярная программа студенческого
    обмена в мире. Студенты получают возможность работать в сфере обслуживания в США в любом из 50 штатов во время летних каникул, улучшить уровень владения английским и получить опыт общения с международным сообществом.
  </p>
  <hr>
  <div class="col-md-10 ">
    <h2>О программе Work and Travel USA для студентов из России и Казахстана</h2>
    <p>
      Программа Work and Travel – это программа культурного международного обмена, которая собирает сотни тысяч студентов со всего мира в США во время летних каникул, в период с мая по сентябрь. Уникальность программы состоит в том, что каждый студент сможет реализовать несколько целей одновременно: познакомиться с традициями и культурой США, получить международный опыт работы, улучшить уровень владения английским языком путем каждодневного общения с носителями языка и, в то же время, совершить увлекательное путешествие по всем 50 штатам и округу Колумбия. Каждый студент сможет открыть для себя свою Америку, выбрав свой маршрут путешествия по Национальным паркам Монтаны или Калифорнии, в захватывающий дух Гранд Каньон, в неспящий Лас Вегас, экзотические Гавайские Острова,
      а может быть устроит утреннюю пробежку в Центральном Парке.
    </p>
    <p>
      По окончанию работы каждый студент имеет право на вторую часть программы – путешествие. Путешествие может длится максимум 30 календарных дней, каждый студент самостоятельно выбирает для себя длительность путешествий и их маршрут. Студент в праве по окончанию работы сразу поехать домой, не путешествуя.
      В период путешествий студент, не имеет право работать.
    </p>
    <p>
      Программа Work and Travel состоит из двух частей, первая часть – это работа. Каждый студент имеет право работать ТОЛЬКО в период с 15 мая по 15 сентября, даты работы каждый студент может подбирать индивидуально, согласно планам сдачи летней сессии и личных планов, но в рамках периода 15 мая - 15 сентября. Работы предлагаются только в сфере обслуживания, это парки развлечений, рестораны, магазины, Национальные парки, отели. Существует список запрещенных видов работ, который опубликован на сайте посольства
      США в Москве в разделе «Job Placement Requirements».
    </p>
  </div>
</div>
