<div class="p-5">
<h1>
  Офисы агентств Work and Travel USA в России и в Казахстане: Москва, Санкт Петербург, Алматы, Уфа и Казань
</h1>
  <h4>Санкт-Петербург</h4>
  <hr>
  <p>
    М. Маяковская/ Площадь Восстания,
    <br>
    Санкт-Петербург, улица Маяковского&nbsp;3Б,&nbsp;офис 311 (бизнес-центр Alia Tempora)
  </p>
  <p>Тел.: +7 (812) 970-06-25</p>
  <p>e-mail: spb@workandtravel.ru</p>
  <h4>Москва</h4>
  <hr>
  <p>
    М. Баррикадная/Краснопресненская,
    <br>
    Москва, Кудринский переулок 3Б, строение 2, этаж 2, офис 29-30
  </p>
  <p>Тел.: +7 (495) 41-035-41</p>
  <p>e-mail: msk@workandtravel.ru</p>
</div>
