<div>
  <img src="https://media-exp1.licdn.com/dms/image/C4D1BAQHOV6NCXQwY6Q/company-background_10000/0/1519800352539?e=2159024400&v=beta&t=XFaya85pwInx1AlXPvbCOV8MOcx4U8o0OE40pImXlgI" class="img-fluid" alt="w&t">
</div>
<div  class="text-center text-block mt-4">
  <button class="float-right btn btn-secondary btn-lg" (click)="onClick()">Как подготовиться к интервью?</button>
  <h1>
    <span>
      Work and Travel
    </span>
    <br>
    Самая популярная программа международного студенческого обмена и работы за рубежом для студентов на период летних каникул в США
    <br>
    для России и Казахстана: Москва, Санкт Петербург, Алматы, Уфа и Казань
  </h1>
</div>
